.DS_Store
*~
*.emSession
*.jlink
~$*
*.swp
*.swo
.*~
.trash
Output
_build
*.donotcommit
*.orig
__build__/
__pycache__
*.pyc
*.pyo
*.pyd
*.pyz
*.egg-info/
nRF5_SDK_15.3.0_59ac345/external/micro-ecc/micro-ecc/scripts/*
*.log
